.panel1 > .display > .shirt {
  content:url(http://i.imgur.com/f4MDU7O.png);
}

.panel2 > .display > .shirt {
  content:url(http://i.imgur.com/g0RtIBk.png);
}

.panel3 > .display > .shirt {
  content:url(http://i.imgur.com/VLwmePn.png);
}
